<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goott.eco.mapper.BasketMapper">
	
	<select id="getBasketList" resultType="com.goott.eco.domain.BasketDetailVO">
		SELECT *FROM BASKET_DETAIL WHERE BASKET_SEQ IN
		(SELECT BASKET_SEQ FROM BASKET WHERE cust_id =#{cust_id})
	</select>
	
	<select id="getGoodsInfo" resultType="com.goott.eco.domain.GoodsVOtest">
		SELECT * FROM eco.goods WHERE goods_seq=#{goods_seq}
	</select>
	
	<update id="delGoodsAtBasket">
		UPDATE eco.basket_detail SET delete_yn='Y' WHERE goods_seq=#{goods_seq} and basket_seq in 
		(SELECT basket_seq FROM basket where cust_id =#{cust_id})
	</update>
	
	<update id="purGoodsAtBasket">
		UPDATE eco.basket_detail SET purchase_yn='Y' WHERE goods_seq=#{goods_seq} and basket_seq in 
		(SELECT basket_seq FROM basket where cust_id =#{cust_id})
	</update>
	
	<select id="checkExistBasket"  resultType='Long'>
		SELECT BASKET_SEQ FROM eco.basket WHERE cust_id = #{cust_id}
	</select>
	
	<insert id="createBasket">
		insert into BASKET values(seq_basket_seq.nextval,#{cust_id},default,#{cust_id},'','')
	</insert>
	
	<insert id="addGoodsAtBasket">				
		INSERT into eco.basket_detail values((SELECT basket_seq FROM basket 
		WHERE cust_id in #{cust_id}),#{goods_seq},#{qty},default,default,default,#{cust_id},'','')	
	</insert>
	
	<update id="changeQtyAtBasket">
		UPDATE eco.basket_detail SET qty=#{qty} WHERE goods_seq=#{goods_seq} and basket_seq in 
		(SELECT basket_seq FROM basket where cust_id =#{cust_id})
	</update>

</mapper>