<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goott.eco.mapper.CustMapper">
	
	<select id="getCustList" resultType="map">
		SELECT * FROM eco.cust
	</select>

	<select id="getCustLogin" resultType="com.goott.eco.vo.CustVO">
		SELECT * FROM eco.cust 
		WHERE memberId=#{memberId} AND password=#{password} AND member_yn='Y' 
	</select>



</mapper>