<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goott.eco.mapper.GoodsMapper">
	
	<insert id="test" parameterType="map">
		INSERT INTO TB_TEST VALUES(#{no}, #{val})
	</insert>
	
	<select id="getGoodsList" resultType="map" parameterType="map">
		SELECT * FROM eco.goods WHERE GOODS_SEQ = #{goods_seq}
	</select>

</mapper>