<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goott.eco.mapper.OrderMapper">
	
	<select id="getBasketList" resultType="com.goott.eco.domain.BasketVO">
		SELECT * FROM eco.basket WHERE={custId}
	</select>

</mapper>